   <div class="header-container-page" style="background-color:#d75922">
   <div class="container">
    <div class="row">
        <div class="col-sm-12"> 
		&nbsp;<br>
		</div>
    </div>		
    </div>		
    </div>	
<div class="navbar navbar-default navbar-secondary" style="margin-bottom: 5px">
	 <div class="container">
            <ul class="nav navbar-nav">
				<li><a href="{{ "/foliodev/" | prepend: site.baseurl }}">Overview</a></li>
				<li {% if page.sectionid=='docs2' %} class="active" {% endif %}><a href="{{ "/docs2/introduction/" | prepend: site.baseurl }}">Getting Started</a></li>
				<li><a href="{{ "/docs2/introduction/" | prepend: site.baseurl }}">Development Guides</a></li>
				<li><a href="{{ "/docs2/introduction/" | prepend: site.baseurl }}">Tutorials</a></li>
				<li><a href="{{ "/docs2/introduction/" | prepend: site.baseurl }}">Developer Tools</a></li>
				<li><a href="{{ "/docs2/introduction/" | prepend: site.baseurl }}">Guidelines</a></li>				
            </ul>
	</div>
</div>
